body, html {
    height: 100%;
    margin: 0;
}

body{
    background: linear-gradient(to bottom right, rgb(148, 212, 228), rgb(122, 230, 171), rgb(78, 237, 149) ) ;
    background-attachment: fixed;
    background-size: 500%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.center{
    display: flex;
  justify-content: center; /* Wyśrodkowanie w poziomie */
  align-items: center; /* Wyśrodkowanie w pionie */
  height: 100vh;
}

.login1{
    border-radius: 10%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.555);
    width: 300px;
    height: 250px;
    padding: 10px;
    scale: 150%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1000px) {
    .login1 {
      scale: 50%;
    }
}
