body, html {
    height: 100%;
    margin: 0;
}

body{
    background: linear-gradient(to bottom right, rgb(148, 212, 228), rgb(122, 230, 171), rgb(78, 237, 149) ) ;
    background-attachment: fixed;
    background-size: 500%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.parent1{
    width: 100%;
}

.menu{
    background-color: rgba(255, 255, 255, 0.666);
    width: 9,5%;
    height: 100vh;
    float: left;
    padding: 6px;
    margin: 4px;
    border-radius: 5px;
}

.menu1{
    width: 90,5%;
}

.m1{border-radius: 10px; background-color: rgba(114, 186, 254, 0.792);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.w1{
    background-color: rgba(255, 255, 255, 0.666);
    height: 230px;
    width: 300px;
    float: left;
    border-radius: 10px;
    text-align: center;
    margin: 8px;
    padding: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    width: 20,5%;
}

.w1:hover{
    transform: scale(1.05); /* Delikatne powiększenie bloku */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Zwiększenie cienia dla lepszego efektu */
}

.excel{
    float: left;
    position: relative;
    width: 1020px;
    height: 650px; 
    background-color: Gray;
}



a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}
