body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Zapewnia pełną kontrolę nad wysokością */
    overflow: hidden; /* Usuwa niepotrzebne przewijanie */
}

body{
    background: linear-gradient(to bottom right, rgb(148, 212, 228), rgb(122, 230, 171), rgb(78, 237, 149) ) ;
    background-attachment: fixed;
    background-size: 500%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.parent1{
    width: 100%;
}

.menu{
    background-color: rgba(255, 255, 255, 0.666);
    width: 9,5%;
    height: calc(100vh - 16px);
    float: left;
    padding: 6px;
    padding-bottom: env(safe-area-inset-bottom); /* Dla urządzeń z wycięciami */
    margin: 4px;
    margin-top: 8px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: width 0.3s ease;
    box-sizing: border-box;
}

.menu1{
    width: 90,5%;
}

.m1{border-radius: 10px; background-color: rgba(114, 186, 254, 0.792);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.l1{border-radius: 10px; 
    background-color: rgba(114, 186, 254, 0.792);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: none;
}


.w1{
    background-color: rgba(255, 255, 255, 0.666);
    height: 20%;
    width: 20%;
    float: left;
    border-radius: 10px;
    text-align: center;
    margin: 8px;
    padding: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 1.5vw; /* Czcionka będzie miała 5% szerokości ekranu */
    overflow: hidden;        /* Ukrywa nadmiar tekstu */
    text-overflow: ellipsis; /* Pokazuje "..." zamiast nadmiaru tekstu */
    white-space: nowrap;     /* Zapobiega łamaniu tekstu na wiele linii */
}

.w1 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.w1:hover{
    transform: scale(1.05); /* Delikatne powiększenie bloku */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Zwiększenie cienia dla lepszego efektu */
}



.menu.collapsed {
    width: 2,5%;
}

.menu img#logo {
    width: 140px;
    margin: 10px auto;
    display: block;
    transition: opacity 0.3s ease, display 0.3s ease;
}

.menu.collapsed img#logo {
    display: none; /* Usunięcie miejsca zajmowanego przez stare logo */
}

.menu.collapsed img#mini-logo {
    display: block; /* Mini-logo pojawia się */
    opacity: 1;
    width: 40px;
    margin: 10px auto;
}

.menu img#mini-logo {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease, display 0.3s ease;
}

.toggle-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(21, 142, 255, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 10; /* Aby przycisk był zawsze widoczny */
}

.toggle-btn:hover {
    background-color: rgba(80, 167, 248, 0.8);
}

.menu.collapsed .toggle-btn {
    left: 50%; /* Pozycja w centrum nawet po zwinięciu */
    transform: translate(-50%, 0) rotate(180deg); /* Rotacja przy zwiniętym pasku */
}

/* Ukrywanie przycisku Home, gdy pasek boczny jest zwinięty */
#home-btn {
    display: block;
    transition: display 0.3s ease;
}

/* Ukrywanie przycisku Home po zwinięciu menu */
.menu.collapsed #home-btn {
    display: none;
}


/* CUBE */

.timer1{
    background-color: rgba(255, 255, 255, 0.666);
    height: 20%;
    width: 100%;
    float: left;
    border-radius: 10px;
    text-align: center;
    margin: 8px;
    padding: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 1.5vw; /* Czcionka będzie miała 5% szerokości ekranu */
}

.timer1:hover{
    transform: scale(1.05); /* Delikatne powiększenie bloku */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Zwiększenie cienia dla lepszego efektu */
}








a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}
